.payment-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content p {
  margin-bottom: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.modal-buttons {
  display: flex;
  flex-direction: column; /* Xếp các nút thành cột (2 hàng) */
  gap: 15px; /* Khoảng cách giữa các nút */
  margin-top: 20px;
}

.close-btn {
  background: #f44336;
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%; /* Đặt nút rộng 100% */
}

.pay-btn {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%; /* Đặt nút rộng 100% */
}

.close-btn:hover{
  background-color: #890c03;
}

.pay-btn:hover{
  background-color: #007c1d;
}