/* dashbroad.css */
.dashboard-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
  }
  
  .dashboard-section {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .dashboard-section canvas {
    width: 100% !important;
    height: 80vh !important;
    padding-right: 0; /* Xóa phần trống bên phải */
    margin-right: 0; /* Xóa phần trống bên phải */
  }
  