/* Footer.css */
.footer {
  background-color: #fff;
  font-family: 'Kay Pho Du';
  border-top: 1px solid #ccc;
  text-align: center;
  color: black;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  /* Căn đều các phần */
  align-items: flex-start;
  padding: 0 20px;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  /* Mỗi cột sẽ chiếm cùng diện tích */
  padding: 10px;
}

.footer-left p {

  font-size: 15px;
  margin-right: 20px;
  
}

.footer-right p {
  font-size: 15px;
  margin-left: 20px;
  
}

.footer-left p strong {
  color: #3D3D74;
  font-weight: 600;

  font-family: cursive;
}


.footer-right p strong {
  color: #3D3D74;
  font-weight: 600;

  font-family: cursive;
}

.footer-center {
  color: #3D3D74;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  font-family: cursive;
}

.footer-stars {
  font-size: 40px;
}

.footer-flowers {
  font-size: 36px;
}

/* Thiết kế dành cho màn hình nhỏ */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    /* Đặt các phần thành cột khi trên màn hình nhỏ */
    text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    padding: 20px 0;
  }
}