/* Footer.css */
.footer {
    background-color: #f9f9f9;
    padding: 20px 0;
    border-top: 2px solid #ccc;
    text-align: center;
    color: black;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;  /* Căn đều các phần */
    align-items: flex-start;
    padding: 0 50px;
  }
  
  .footer-left, .footer-center, .footer-right {
    flex: 1;  /* Mỗi cột sẽ chiếm cùng diện tích */
    padding: 10px;
  }
  
  .footer-left p, .footer-right p {
    margin: 5px 0;
  }
  
  .footer-center {
    text-align: center;
    font-size: 40px;
  }
  
  .footer-stars {
    font-size: 40px;
  }
  
  .footer-flowers {
    font-size: 36px;
  }
  
  /* Thiết kế dành cho màn hình nhỏ */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;  /* Đặt các phần thành cột khi trên màn hình nhỏ */
      text-align: center;
    }
  
    .footer-left, .footer-center, .footer-right {
      padding: 20px 0;
    }
  }
  