.FooterOrderTracking-ordertrackingfooter {
    margin-top: 100px;
    max-width: 100vw;
    
}

.FooterOrderTracking-footer-main {
    background-color: #3D3D74;
    padding: 10px 10px;
   
    margin-bottom: -280px;
}

.FooterOrderTracking-copyrightt {
    color: white;
    text-align: center;
    font-family: 'Kay Pho Du';
    font-size: 45px;
}

.FooterOrderTracking-copyrightt,
.FooterOrderTracking-copyright,
.FooterOrderTracking-copyright1 {
    margin: 5px;
    color: white;
    text-align: center;
    font-family: 'Kay Pho Du';
    line-height: 1;
}