/* .main {
    background-color: white;
    height: 50vw;
    width: 100vw;

    margin-top: 70px;
}

.LogoRegisterImg {
    max-width: 100%;
    height: auto;
}

.logo {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 6%;
}

h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.input-group {
    width: 45vw;
}

.label {
    color: black;
}

.button {
    margin-left: 170px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

} */
.ForgotPassword-main {
  background-color: white;
  display: flex;
  width: 100vw;
  height: 50vw;
}

.ForgotPassword-logo img {
  display: block;
  margin: 0 auto;
  margin-left: 26%;
}

.ForgotPassword-form h2 {
  color: #000;
  text-align: center;
  padding: 20px 0;
  margin-left:-15%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}

.ForgotPassword-form {
  background-color: white;
  padding: 70px;

}

.Register-input-group {
  width: 40vw;
}

.ForgotPassword-Form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.ForgotPassword-label {
  color: #3D3D74;
  margin-right: 5%;
  font-family: monospace;
  font-size: 20px;
  font-weight: bolder;
}

.ForgotPassword-username-input,
.ForgotPassword-password-input,
.ForgotPassword-cfnpassword-input{
  width: 40vw;
  height: 30px;
  font-family: monospace;
}



.ForgotPassword-button {
  
  width: 40%;
  margin-left: 23%;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  opacity: 0.7;
}

.ForgotPassword-button:hover {
  opacity: 1;
    background-color: #3D3D74;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    transition: opacity 0.1s ease;
}