/* .main {
    background-color: white;
    height: 50vw;
    width: 100vw;

    margin-top: 70px;
}

.LogoRegisterImg {
    max-width: 100%;
    height: auto;
}

.logo {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 6%;
}

h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.input-group {
    width: 45vw;
}

.label {
    color: black;
}

.button {
    margin-left: 170px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

} */
.ForgotPassword-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.ForgotPassword-LogoForgotPassword {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Ensures the image covers the whole screen */
  z-index: -1; /* Places the background behind the form */
  image-rendering: high-quality;
}

.ForgotPassword-logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.ForgotPassword-form h2 {
  color: #3D3D74;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.ForgotPassword-form {
  background-color: white;
  padding: 50px;
  width: 450px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ForgotPassword-form h1 {
  font-size: 24px;
  color: #3d3d74;
  font-weight: bold;
  margin-bottom: 20px;
}

.ForgotPassword-input-group {
  width: 100%;
  margin-bottom: 20px;
}

.ForgotPassword-Form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.ForgotPassword-label {
  color: #3D3D74;
  font-family: monospace;
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.ForgotPassword-username-input,
.ForgotPassword-password-input,
.ForgotPassword-cfnpassword-input{
  width: 100%; /* Make the inputs full-width inside the form */
  max-width: 500px; /* Set a maximum width for the inputs */
  height: 40px;
  padding: 8px 12px;
  font-family: 'Lucida Sans', sans-serif;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s;
}
.ForgotPassword-username-input:focus,
.ForgotPassword-password-input:focus,
.ForgotPassword-cfnpassword-input:focus {
  border-color: #3D3D74;
  outline: none;
}



.ForgotPassword-button {
  
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  background-color: #3D3D74;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ForgotPassword-button:hover {
  background-color: #2c2c57;
}