/* .main {
    background-color: white;
    height: 50vw;
    width: 100vw;

    margin-top: 70px;
}

.LogoRegisterImg {
    max-width: 100%;
    height: auto;
}

.logo {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 6%;
}

h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.input-group {
    width: 45vw;
}

.label {
    color: black;
}

.button {
    margin-left: 170px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

} */
 .ForgotPassword-main{
    background-color: white;
    display: flex;
    width: 100vw;
    height: 50vw;
 }.ForgotPassword-logo {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  h2{
    color: black;
    justify-content: center;
    margin-left: 25%;
  }
  .ForgotPassword-form{
    background-color: white;
  padding: 70px;
  width: 40vw;
  }
  .Register-input-group{
    width: 40vw;
  }
  .ForgotPassword-label{
    color: black;
    margin-right: 5%;
  }
  .ForgotPassword-username-input{
    width: 40vw;
  height: 30px;
  }
  .ForgotPassword-password-input{
    width: 40vw;
  height: 30px;
  }
  .ForgotPassword-cfnpassword-input{
    width: 40vw;
  height: 30px;
  }
  .ForgotPassword-button{
    margin-left: 35%;
    margin-top: 10px;
  } 