.main {
    width: 100%;
    max-width: 100vw;
    margin-top: -200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    margin-bottom: 15px;
    max-width: 100vw;
    /*  max-width: 100vw : Đảm bảo header không vượt quá chiều rộng màn hình */
}


.logo-container {
    display: flex;
    align-items: center;
}


.koi-logo {
    height: 80px;
    margin-right: 20px;
    border-radius: 30px;
}


.express-logo {
    display: flex;
    align-items: center;

}

.express-logo img {
    height: 60px;
    margin-left: 245%;
}

.express-logo span {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 10px;
}


.user-actions {
    display: flex;
    box-sizing: border-box;
    margin-left: 65%;
}

.user-icon,
.cart-icon {
    height: 35px;
    margin-left: none;
}

.user-icon,
.cart-icon:hover {
    cursor: grab;
}


.line {
   
    height: 1px;
    background-color: rgb(187, 184, 184);
    margin-top: 14px;
    opacity: 0.3;
    width: 167%;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 80px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    width: 180%;
    max-width: 100vw;
    /* Đảm bảo không tràn ra khỏi màn hình */
    box-sizing: border-box;
    font-family: 'Kay Pho Du';
    font-size: 50px;
    margin-top: -40px;
}

li {
    text-align: center;
}

.list a {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
   
}

.list a:hover {
    color: #007bff;
    cursor: grab;
}