header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    border-bottom: 1px solid #ccc;
    font-family: cursive;
  }
  .header-container{
    display: flex;
    justify-content: space-between;  /* Căn đều các phần */
    align-items: flex-start;
    padding: 0 50px;

  }
  .header1{
    display: inline-block;
  }

  .flag {
    width: 100px;
    height: auto;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
  }
  
  .auth-buttons button {
    margin: 0 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
  }
  .header-content {
    display: contents;
  }
  