.HeaderOrderDelete-main {
    width: 100%;
    max-width: 100vw;
}

.HeaderOrderDelete-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    width: 100%;
    max-width: 100vw;
    /*  max-width: 100vw : Đảm bảo header không vượt quá chiều rộng màn hình */
    box-sizing: border-box;
    margin-bottom: 20px;
}


.HeaderOrderDelete-logo-container {
    display: flex;
    align-items: center;
}


.HeaderOrderDelete-koi-logo {
    height: 80px;
    margin-right: 20px;
    border-radius: 30px;
}


.HeaderOrderDelete-express-logo {
    display: flex;
    align-items: center;
    margin-left: 64%;
}

.HeaderOrderDelete-express-logo img {
    height: 60px;
}

.HeaderOrderDelete-express-logo span {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 10px;
}


.HeaderOrderDelete-user-actions {
    display: flex;
    box-sizing: border-box;
    margin-left: 65%;
}

.HeaderOrderDelete-user-icon,
.HeaderOrderDelete-cart-icon {
    height: 30px;
}

.HeaderOrderDelete-user-icon,
.HeaderOrderDelete-cart-icon:hover {
    cursor: grab;
}


.HeaderOrderDelete-line {
   
    height: 1px;
    background-color: rgb(187, 184, 184);
    margin-top: 14px;
    opacity: 0.3;
    width: 167%;
}

.HeaderOrderDelete-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 80px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    width: 180%;
    max-width: 100vw;
    /* Đảm bảo không tràn ra khỏi màn hình */
    box-sizing: border-box;
    font-family: 'Kay Pho Du';
    font-size: 50px;
    margin-top: -40px;
}

.HeaderOrderDelete-list li {
    text-align: center;
}

.HeaderOrderDelete-list a {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
   
}

.HeaderOrderDelete-list a:hover {
    color: #007bff;
    cursor: grab;
}