.Login-main {
  background-color: white;
  display: flex;
  width: 100vw;
  height: 50vw;
}

.Login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -4%;
}

.Login-input-group {
  width: 40vw;
}

.Login-label {
  color: #3D3D74;
  margin-right: 5%;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}

.Login-username-input {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  width: 40vw;
  height: 30px;
}

.Login-password-input {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 40vw;
  height: 30px;

}

.Login-form {
  background-color: white;
  padding: 70px;
}

.Login-form h1 {
  display: flex;
  text-align: center;
  margin-left: 24%;
  color: black;
}

.Login-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
   font-family: monospace;

}

.Login-button {
  display: block;
  justify-content: center;
  margin-left: 255px;
  margin-top: -10px;
  opacity: 0.7;
  font-family: monospace;
  font-size: 20px;
}

.Login-button:hover {
  background-color: #3D3D74;
  color: #fff;
  font-weight: bolder;
  font-family: cursive;
  opacity: 1;
  transition: opacity 0.2s ease;
  
}