.Login-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.Login-LogoLoginImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Ensures the image covers the whole screen */
  z-index: -1; /* Places the background behind the form */
  image-rendering: high-quality;
}
.Login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.Login-input-group {
  width: 100%;
  margin-bottom: 20px;
}
.Login-label {
  color: #3d3d74;
  font-family: monospace;
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.Login-username-input,
.Login-password-input {
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  font-family: 'Lucida Sans', sans-serif;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s;
}
.Login-username-input:focus,
.Login-password-input:focus {
  border-color: #3d3d74;
  outline: none;
}

.Login-form {
  background-color: white;
  padding: 50px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login-form h1 {
  font-size: 24px;
  color: #3d3d74;
  font-weight: bold;
  margin-bottom: 20px;
}

.Login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-family: monospace;
  font-size: 14px;

}
.Login-links a {
  color: #3d3d74;
  text-decoration: none;
  transition: color 0.3s;
}
.Login-links a:hover {
  color: #6c63ff;
}

.Login-button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  font-family: monospace;
  font-size: 18px;
  background-color: #3d3d74;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.Login-button:hover {
  background-color: #2c2c57;
}
@media (max-width: 500px) {
  .Login-form {
    width: 90%;
    padding: 30px;
  }

  .Login-logo img {
    width: 80px;
  }
}

