

.OrderDeliveryStatus-header-tracking {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: -25px;
}

.OrderDeliveryStatus-header-tracking p {
    text-align: center;
    font-size: 40px;
    color: #3D3D74;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin-top: 40px;
    font-weight: 800;

    border-bottom: 3px solid black;
    margin-bottom: 3%;
}



.OrderDeliveryStatus-tracking-order {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-left: 8px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 100vw;
    margin-top: 40px;
}

.OrderDeliveryStatus-tracking-order div {
    text-align: center;
    
}

.OrderDeliveryStatus-tracking-order p {
    display: flex;
    flex-direction: row;

    align-items: center;
    font-weight: 700;
    font-family: cursive;
}

.OrderDeliveryStatus-tracking-order img {
    width: 100px; /* Đảm bảo tất cả các ảnh có cùng kích thước */
    height: 100px; /* Hoặc đặt kích thước cụ thể tùy ý */
    margin-bottom: 10px; /* Khoảng cách giữa ảnh và văn bản */
}


/* trạng thái chưa xác nhận */
.OrderDeliveryStatus-tracking0 img.blurred {

    filter: blur;
}

/* khi nhấn vào radio => đã xác nhận đơn hàng */
.OrderDeliveryStatus-tracking0 img.active {

    opacity: 1;
    filter: blur(0);
}

.OrderDeliveryStatus-tracking1 img.blurred {
    filter: blur;
}

/* khi nhấn vào radio => đã xác nhận đơn hàng */
.OrderDeliveryStatus-tracking1 img.active {

    opacity: 1;
    filter: blur(0);
}


.OrderDeliveryStatus-tracking2 img.blurred {
    filter: blur;
}

/* khi nhấn vào radio => đã xác nhận đơn hàng */
.OrderDeliveryStatus-tracking2 img.active {

    opacity: 1;
    filter: blur(0);
}


.OrderDeliveryStatus-tracking3 img.blurred {
    filter: blur;
}

/* khi nhấn vào radio => đã xác nhận đơn hàng */
.OrderDeliveryStatus-tracking3 img.active {

    opacity: 1;
    filter: blur(0);
}


.OrderDeliveryStatus-tracking4 img.blurred {
    filter: blur;
}

/* khi nhấn vào radio => đã xác nhận đơn hàng */
.OrderDeliveryStatus-tracking4 img.active {

    opacity: 1;
    filter: blur(0);
}


.OrderDeliveryStatus-tracking,
.OrderDeliveryStatus-tracking1,
.OrderDeliveryStatus-tracking2,
.OrderDeliveryStatus-tracking3,
.OrderDeliveryStatus-tracking4 label {
    font-size: 15px;
    font-family: 'Kay Pho Du';
    word-wrap: break-word;
    white-space: normal;
}

.OrderDeliveryStatus-submit button {
    display: block;
    margin: auto;
    margin-top: 30px;
    background: #3D3D74;
    color: #fff;
    font-family: 'Kay Pho Du';
    font-weight: 800;

    cursor: grab;

}

.custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50; /* Màu xanh lá khi thành công */
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-alert span {
    margin-right: 20px;
}

.custom-alert button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.custom-alert button:hover {
    text-decoration: underline;
}
