
.OrderPaymentMethods-paymentmethods {
    text-align: center;
    margin-left: 66%;
    font-size: 38px;
    font-family: monospace;
    width: 40%;
    padding: 15px 15px;
    margin-top: 20px;
    border-bottom: 2px solid black;
    color: #3D3D74;
    font-weight: 800;
}

.OrderPaymentMethods-message {
    text-align: center;
    margin-left: 66%;
    font-size: 17px;
    font-family: monospace;
    width: 40%;
    margin-top: 20px;
}

.OrderPaymentMethods-order-information {
    display: flex;
    margin-top: 8%;
    margin-left: 20%;
    align-items: center;
    text-align: center;

}

.OrderPaymentMethods-order-details {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background: #D9D9D9;
    padding: 30px 20px;
    border-radius: 30px;
    border: none;
    line-height: 2;
    width: 450px;
    height: 420px;
    font-family: 'Courier New', Courier, monospace;

}

.OrderPaymentMethods-order-details .OrderPaymentMethods-line {
    border: 3px solid white;
}

.OrderPaymentMethods-order-details p {

    color: #3D3D74;
    font-weight: bolder;
    font-family: monospace;
    font-size: 17px;
}



.OrderPaymentMethods-order-details span {
    color: #3D3D74;
    font-weight: 800;
}

.OrderPaymentMethods-order-details h2 {
    margin-top: -10px;
    margin-left: -4px;
    color: #3D3D74;
    font-weight: 800;
    font-family: cursive;
    font-size: 28px;
}

.OrderPaymentMethods-order-details .line {
    background: white;
    width: 100%;
    height: 5px;

}


.OrderPaymentMethods-order-details button {
    width: 100%;
}


.OrderPaymentMethods-payment-button {
    background-color: #3D3D74;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bolder;

}

.OrderPaymentMethods-payment-button span {
    background: #D9D9D9;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50px;
    border: none;
    padding: 8px 8px;
    margin-left: 10px;
}

.OrderPaymentMethods-payment-button span:hover {
    color: #007bff;
    cursor: grab;
}

.OrderPaymentMethods-order-details .OrderPaymentMethods-cancel {
    margin-top: -4px;
}
.OrderPaymentMethods-order-details .OrderPaymentMethods-cancel a{
    cursor: grab;
}

.OrderPaymentMethods-main-order {
   
    display: flex;
    flex-direction: row;
}

.OrderPaymentMethods-payment-option {
    margin-left: 70%;
}

.OrderPaymentMethods-payment-option label {
    display: flex;
    flex-direction: row;

}

.OrderPaymentMethods-payment-option .OrderPaymentMethods-Text2 {

    text-align: center;
    margin-left: 30px;
    margin-top: 35%;
    font-family: monospace;
    font-size: 17px;
    width: 100%;
    /*  white-space: nowrap: 0 cho chữ bị xuống dòng */
    white-space: nowrap;  
}

.OrderPaymentMethods-payment-option .OrderPaymentMethods-Text3 {

    text-align: center;
    margin-left: 30px;
    margin-top: 58px;
    font-family: monospace;
    font-size: 17px;
    width: 100%;
    white-space: nowrap;  
}

.OrderPaymentMethods-payment-option .Text3 {

    text-align: center;
    margin-left: 30px;
    margin-top: 50px;
}

.OrderPaymentMethods-methods {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    margin-top: 10px;
}

.OrderPaymentMethods-methods button {
    margin-left: 70%;
    color: #fff;
    background-color: #3D3D74;
    font-family: monospace;
    padding: 5px 5px;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
}

.OrderPaymentMethods-methods button:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: opacity 0.3s ease;
    cursor: grab;
    border: none;
}