

.OrderDeliveryStatus-header-tracking {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: -25px;
}

.OrderDeliveryStatus-header-tracking p {
    text-align: center;
    font-size: 40px;
    color: #3D3D74;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin-top: 40px;
    font-weight: 800;

    border-bottom: 3px solid black;
}



.OrderDeliveryStatus-tracking-order {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-left: 8px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100vw;
    margin-top: 40px;
}

.OrderDeliveryStatus-tracking-order p {
    display: flex;
    flex-direction: row;

    align-items: center;
    font-weight: 700;
    font-family: cursive;
}

.OrderDeliveryStatus-tracking img {
    width: 20%;
    height: 20%;
    opacity: 0.5;
    transition: opacity 0.5s ease, filter 0.5s ease;
}

.OrderDeliveryStatus-tracking1 img {
    width: 20%;
    height: 20%;
    opacity: 0.5;
    transition: opacity 0.5s ease, filter 0.5s ease;
}

.OrderDeliveryStatus-tracking2 img {
    width: 20%;
    height: 20%;
    opacity: 0.5;
    transition: opacity 0.5s ease, filter 0.5s ease;
}

.OrderDeliveryStatus-tracking3 img {
    width: 20%;
    height: 20%;
    opacity: 0.5;
    transition: opacity 0.5s ease, filter 0.5s ease;
}

.OrderDeliveryStatus-tracking4 img {
    width: 20%;
    height: 20%;
    opacity: 0.5;
    transition: opacity 0.5s ease, filter 0.5s ease;
}

/* trạng thái chưa xác nhận */
.OrderDeliveryStatus-tracking img.blurred {

    filter: blur;
}

/* khi nhấn vào radio => đã xác nhận đơn hàng */
.OrderDeliveryStatus-tracking img.active {

    opacity: 1;
    filter: blur(0);
}

.OrderDeliveryStatus-tracking1 img.blurred {
    filter: blur;
}

/* khi nhấn vào radio => đã xác nhận đơn hàng */
.OrderDeliveryStatus-tracking1 img.active {

    opacity: 1;
    filter: blur(0);
}


.OrderDeliveryStatus-tracking2 img.blurred {
    filter: blur;
}

/* khi nhấn vào radio => đã xác nhận đơn hàng */
.OrderDeliveryStatus-tracking2 img.active {

    opacity: 1;
    filter: blur(0);
}


.OrderDeliveryStatus-tracking3 img.blurred {
    filter: blur;
}

/* khi nhấn vào radio => đã xác nhận đơn hàng */
.OrderDeliveryStatus-tracking3 img.active {

    opacity: 1;
    filter: blur(0);
}


.OrderDeliveryStatus-tracking4 img.blurred {
    filter: blur;
}

/* khi nhấn vào radio => đã xác nhận đơn hàng */
.OrderDeliveryStatus-tracking4 img.active {

    opacity: 1;
    filter: blur(0);
}


.OrderDeliveryStatus-tracking,
.OrderDeliveryStatus-tracking1,
.OrderDeliveryStatus-tracking2,
.OrderDeliveryStatus-tracking3,
.OrderDeliveryStatus-tracking4 label {
    font-size: 15px;
    font-family: 'Kay Pho Du';
    word-wrap: break-word;
    white-space: normal;
}

.OrderDeliveryStatus-submit button {
    display: block;
    margin: auto;
    margin-top: 30px;
    background: #3D3D74;
    color: #fff;
    font-family: 'Kay Pho Du';
    font-weight: 800;

    cursor: grab;

}