.Payment-main {
    max-width: 100vw;
}

.Payment-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 15px 20px;
    background-color: #fff;
    width: 165%;
    margin-left: -12%;
    
    /*  max-width: 100vw : Đảm bảo header không vượt quá chiều rộng màn hình */
    box-sizing: border-box;
    margin-bottom: 20px;
}


.Payment-logo-container {
    display: flex;
    align-items: center;
}


.Payment-koi-logo {
    height: 80px;
    margin-right: 20px;
}


.Payment-express-logo {
    display: flex;
    align-items: center;
    
}

.Payment-express-logo img {
    height: 60px;
}

.Payment-express-logo span {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 10px;
}


.Payment-user-actions {
    display: flex;
    box-sizing: border-box;
   
}

.Payment-user-icon,
.Payment-cart-icon {
    height: 30px;
    margin-right: 5%;
}

.Payment-user-icon,
.Payment-cart-icon:hover {
    cursor: grab;
}


.Payment-line {
   
    height: 1px;
    background-color: rgb(187, 184, 184);
    margin-top: 14px;
    opacity: 0.3;
    width: 167%;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 80px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    width: 180%;
    max-width: 100vw;
    /* Đảm bảo không tràn ra khỏi màn hình */
    box-sizing: border-box;
    font-family: 'Kay Pho Du';
    font-size: 50px;
    margin-top: -40px;
}

li {
    text-align: center;
}

.Payment-list a {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
   
}

.Payment-list a:hover {
    color: #007bff;
    cursor: grab;
}