.Payment-main {
    width: 140%;
    max-width: 1200vw;
    background-color: #fff;
}

.Payment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 15px;
    max-width: 100vw;
    /*  max-width: 100vw : Đảm bảo header không vượt quá chiều rộng màn hình */
}


.Payment-logo-container {
    display: flex;
    align-items: center;
}


.Payment-koi-logo {
    height: 80px;
    margin-right: 20px;
    border-radius: 30px;
}


.Payment-express-logo {
    display: flex;
    align-items: center;
    margin-left: -10px;
}

.Payment-express-logo img {
    height: 60px;
    margin-left: 255%;
}

.Payment-express-logo span {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 10px;
}


.Payment-user-actions {
    display: flex;
    box-sizing: border-box;
    margin-left: 65%;
}

.Payment-user-icon,
.Payment-cart-icon {
    height: 35px;
    margin-left: none;
}

.Payment-user-icon,
.Payment-cart-icon:hover {
    cursor: grab;
}


.Payment-line {

    height: 1px;
    background-color: rgb(187, 184, 184);
    margin-top: 14px;
    opacity: 0.3;
    width: 100%;
}

.Payment-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* You can adjust this to control spacing */
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.Payment-choice {
    width: 100%;
    margin-bottom: 20px;
}

.headerPaymentList {
    margin: 0 15px; /* Adjust margin between items */
}

.headerPaymentList a {
    text-decoration: none;
    color: black; /* Adjust link color */
    font-size: 16px; /* Adjust font size */
}

.headerPaymentList a:hover {
    color: #007BFF; /* Color change on hover */
}