.PriceList-main-order {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

}

.PriceList-main-priceList {
    padding: 20px 20px;
    border-bottom: 2px dashed #a28089;
    width: 70%;
    margin-left: 14%;

}

.PriceList-main-priceList p {
    text-align: center;
    font-size: 50px;
    font-family: monospace;
    color: #ff1d58;
    font-weight: 800;
    white-space: nowrap;
}

.PriceList-BoxChoosing {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.PriceList-paymentmethods {
    text-align: center;
    margin-left: 37%;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 30%;
    padding: 20px 20px;
    margin-top: -20px;
    border-bottom: 1px solid black;
    color: #3D3D74;
    font-weight: 800;

}

.PriceList-message {
    color: coral;
    text-align: center;
    margin-left: 27%;
    font-size: 15px;
    font-family: monospace;
    width: 50%;
    margin-top: 20px;
    font-weight: bolder;

}

.PriceList-price {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    align-items: center;
}

.PriceList-price p {
    white-space: nowrap;
    font-family: cursive;
    font-size: 16px;
    color: #3D3D74;
    font-weight: 800;
}

.PriceList-main-pic {
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    margin-left: 5%;
}

.PriceList-pic-koi1,
.PriceList-pic-koi2,
.PriceList-pic-koi3 {
    width: 100%;
    /* Chiếm toàn bộ chiều rộng của phần tử cha */
    height: auto;
    /* Tự động điều chỉnh chiều cao theo tỷ lệ */
    object-fit: contain;
    /* Giữ tỷ lệ gốc và phóng to tối đa */
    padding: 10px 20px;
    margin-top: 40px;
}

.PriceList-pic-koi1,
.PriceList-pic-koi2,
.PriceList-pic-koi3 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.PriceList-pic-koi1 img,
.PriceList-pic-koi2 img,
.PriceList-pic-koi3 img {
    width: 70%;
    height: 30%;
}

.PriceList-pic1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.PriceList-pic1 p {
    font-family: monospace;
    font-size: 17px;
    margin-left: 20px;
}

.PriceList-pic1 .PriceList-info-box p {
    padding: 10px 10px;
    font-size: 12px;
}

.PriceList-pic1 .PriceList-info-box p span {
    color: #3D3D74;
    font-weight: 800;
}

.PriceList-pic2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.PriceList-pic2 p {
    font-family: monospace;
    font-size: 17px;

}

.PriceList-pic2 .PriceList-info-box p {
    padding: 10px 10px;
    font-size: 12px;
}

.PriceList-pic2 .PriceList-info-box p span {
    color: #3D3D74;
    font-weight: 800;
}

.PriceList-pic3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.PriceList-pic3 p {
    font-family: monospace;
    font-size: 17px;

}

.PriceList-pic3 .PriceList-info-box p {
    padding: 10px 10px;
    font-size: 12px;
}

.PriceList-pic3 .PriceList-info-box p span {
    color: #3D3D74;
    font-weight: 800;
}

.PriceList-amount1 {
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.PriceList-amount1 .PriceList-amount1-button,
.PriceList-amount2 .PriceList-amount2-button,
.PriceList-amount3 .PriceList-amount3-button {
    margin-top: -30px;
}

.PriceList-amount1-button .PriceList-button,
.PriceList-amount2-button .PriceList-button,
.PriceList-amount3-button .PriceList-button {
    margin-top: 20px;
}

.PriceList-amount1 .decrement-button1 {
    transition: filter 0.3s ease;
    background-color: rgb(243, 146, 146);
}


.PriceList-amount1 .PriceList-increment-button1 {
    background-color: rgb(148, 227, 148);
}

.PriceList-amount2 .PriceList-increment-button2 {
    background-color: rgb(148, 227, 148);
}

.PriceList-amount3 .PriceList-increment-button3 {
    background-color: rgb(148, 227, 148);
}

.PriceList-amount1 .PriceList-count1,
.PriceList-amount2 .PriceList-count2,
.PriceList-amount3 .PriceList-count3 {
    background: antiquewhite;
    font-family: cursive;
    padding: 10px 10px;
    width: 48px;
}

.PriceList-amount2 .PriceList-count2 {
    background: antiquewhite;
    font-family: cursive;
}

.PriceList-amount3 .PriceList-count3 {
    background: antiquewhite;
    font-family: cursive;
}


.PriceList-amount2 {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.PriceList-amount2 .decrement-button2 {
    transition: filter 0.3s ease;
    background-color: rgb(243, 146, 146);
}

.PriceList-amount2 .decrement-button2.blurred {
    filter: blur(0);
    cursor: not-allowed;
}

.PriceList-amount2 .decrement-button2.active {
    filter: none;
    cursor: pointer;
}

.PriceList-amount3 {
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.PriceList-amount3 .decrement-button3 {
    transition: filter 0.3s ease;
    /* Thêm hiệu ứng chuyển đổi mượt */
    background-color: rgb(243, 146, 146);
}

.PriceList-amount3 .decrement-button3.blurred {
    filter: blur(0);
    cursor: not-allowed;
}

.PriceList-amount3 .decrement-button3.active {
    filter: none;
    cursor: pointer;
}


.PriceList-button {
    color: red;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;

}


.PriceList-button:hover {
    transform: scale(1.2);
    border: none;
}

.PriceList-button:active {
    outline: none;
}

.PriceList-order-information {
    margin-top: 18%;
    margin-left: 40%;

}

.PriceList-order-details p {
    cursor: grab;

    color: #3D3D74;
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
}

.PriceList-order-details {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background: #D9D9D9;
    padding: 30px 20px;
    border-radius: 30px;
    border: none;
    line-height: 2;
    width: 420px;
    height: 430px;
}

.PriceList-order-details span {
    color: #3D3D74;
    font-weight: 800;
}

.PriceList-order-details h2 {
    margin-top: -10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #3D3D74;
    font-weight: 800;
    font-size: 30px;
    border-bottom: 3px solid white;
}

.PriceList-order-details .line {
    background: white;
    width: 100%;
    height: 5px;

}

.PriceList-order-details button {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.PriceList-payment-button {
    background-color: #3D3D74;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bolder;

}

.PriceList-payment-button span {
    background: #D9D9D9;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50px;
    border: none;
    padding: 8px 8px;
    margin-left: 10px;
}

.PriceList-payment-button span:hover {
    color: #007bff;
    cursor: grab;
}

/* .PriceList-cancel {
    text-align: center;
    color: #3D3D74;
    font-weight: 700;
} */

.PriceList-order-details .cancel:hover {
    cursor: grab;
}

.PriceList-button:active {
    border: none;
}

.PriceList-Services {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-left: -9%;

}

.PriceList-DeliveryTypes {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    text-align: center;
    align-items: center;
    margin-top: 7%;
}

.PriceList-DeliveryTypes .PriceList-paymentmethodss {
    text-align: center;
    
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 30%;
    padding: 20px 20px;
    margin-top: -20px;
    color: #3D3D74;
    font-weight: 800;
}

.PriceList-line {
    width: 100%;
    border: 1px solid black;
    margin-left: 32%;
    opacity: 0.5;
    
}

.PriceList-DeliveryTypes .PriceList-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-right: -10%;
}

.PriceList-DeliveryTypes .PriceList-Delivery {
    margin-right: 3%;
}


.PriceList-package,
.PriceList-health,
.PriceList-temperatureControl,
.PriceList-insurance {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.PriceList-package,
.PriceList-health,
.PriceList-temperatureControl,
.PriceList-insurance {
    margin-left: 20px;
}

.PriceList-temperatureControl {
    margin-left: -5%;
}

.PriceList-package {
    margin-left: 8%;
}

.PriceList-package label,
.PriceList-temperatureControl label,
.PriceList-health label,
.PriceList-insurance label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    white-space: nowrap;

}

.PriceList-package img,
.PriceList-health img,
.PriceList-insurance img {
    width: 20%;
    /* Small but sharp */
    height: auto;
    border-radius: 10px;
    margin-top: 5px;
}

.PriceList-package p,
.PriceList-temperatureControl p,
.PriceList-health p,
.PriceList-insurance p {
    font-family: cursive;
    font-size: 18px;
    color: #3D3D74;
    font-weight: 800;
}

.PriceList-package h4,
.PriceList-temperatureControl h4,
.PriceList-health h4,
.PriceList-insurance h4 {
    font-family: monospace;
    font-size: 17px;
}

.PriceList-Delivery {
    display: flex;
    flex-direction: row;
    margin-left: 40%;
    margin-top: 2%;
    column-gap: 140px;
}

.PriceList-Delivery-map {
    display: flex;
    flex-direction: column;
}

/* .PriceList-standard-delivery,
.PriceList-fast-delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.PriceList-standard-delivery label,
.PriceList-fast-delivery label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PriceList-standard-delivery img,
.PriceList-fast-delivery img {
    width: 18%;
    /* Small image size */
/* height: auto;
} */

.PriceList-fast-delivery {
    margin-left: -30%;
}

.PriceList-standard-delivery p,
.PriceList-fast-delivery p {
    font-family: cursive;
    font-size: 20px;
    color: #3D3D74;
    font-weight: 800;
}

.PriceList-buttonn {
    background-color: #fff;
    margin-top: 3%;
    margin-left: 43%;

    padding: 10px 5px 30px 5px;
}

.PriceList-buttonn button {
    background-color: #3D3D74;
    color: #fff;
    font-family: monospace;
    font-size: 20px;
    margin-left: 12px;
}


.PriceList-DeliveryAddress {
    margin-top: 5%;
    margin-left: 10%;
    
}

.PriceList-DeliveryAddress .PriceList-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 20px;
    background-color: rgb(220, 219, 219);
    width: 420px;
    height: 340px;
    white-space: nowrap;
    padding: 20px 20px;
    border-radius: 20px;
}


.PriceList-Informationnn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    white-space: nowrap;
    margin-left: -10%;
    width: 100%;
}

.PriceList-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PriceList-input textarea {
    width: 70%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    padding: 10px 10px;
    box-sizing: border-box;
    display: flex;
   
}

.PriceList-input textarea::placeholder {
    font-family: cursive;
}

.PriceList-form h3 {
    padding: 10px 10px;
    font-size: 23px;
    
    color: #3D3D74;
    font-weight: 700;

    border-bottom: 1px solid #fff;
}

.PriceList-form h3,
.PriceList-input label {
    text-align: center;
}

.PriceList-input label {
    font-size: 20px;
    font-family: monospace;
    
}