.main{
    background-color: white;
    height: 50vw;
      width: 100vw;
  }
  .LogoRegisterImg{
    max-width: 100%;
    height: auto;
  }
  .logo {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-right: 8%;
  }
  h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
  
  .input-group {
    width: 100px;
  }
  .label{
    color: black;
  }
  .button{
    display: flex;
    margin: auto;

    margin-top: 40px;
  
  }