/* .main{
    background-color: white;
    height: 50vw;
      width: 100vw;
  }
  .LogoRegisterImg{
    max-width: 100%;
    height: auto;
  }

  .logo {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-right: 8%;
  }
  h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
  
  .input-group {
    width: 100px;
  }
  .label{
    color: black;
  }
  .button{
    display: flex;
    margin: auto;

    margin-top: 40px;
  
  } */
.Register-main {
  background-color: white;
  display: flex;
  width: 100vw;
  height: 50vw;
}

.Register-logo {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: -5%;
}

h1 {
  color: #000;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin: 5%;
}

.Register-form {
  background-color: white;
  padding: 70px;
  ;
}

.Register-input-group {
  width: 40vw;
}

.Register-label {
  color: #3D3D74;
  margin-right: 5%;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}

.Register-username-input,
.Register-password-input,
.Register-cfpassword-input {
  width: 40vw;
  height: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Register-button {
  margin-left: 40%;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  opacity: 0.5;
}

.Register-button:hover {
  background-color: #3D3D74;
  color: #fff;
  font-weight: bolder;
  opacity: 1;
  transition: opacity 0.3s ease;
}