.dashboard-charts-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;

}

.charts-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chart-container {
  flex: 1;
  margin: 0 10px;
  max-width: 75%; /* Đảm bảo mỗi bảng chiếm 50% chiều rộng */
}

